@import url('https://fonts.googleapis.com/css?family=Italianno');

$fonte1: Italianno;
$fonte2: Nunito;
$color1: #c5654c;
$color2: #162a83;
$color3: #143c97;
$color4: #f44336;
$color5: #ffffff;
$color6: #94594a;
$color7: #800080;
$color8: #888888;
$color9: #000;
