{% extends 'MAC/template.html' %}
{% load static %}

{% block  header %}
		<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" href="{% static 'img/icon.jpeg' %}"/>
		<title>MAC - Bem Vindo</title>
{% endblock %}

{% block styles %}
    <link rel='stylesheet' href="{% static 'css/styles.css' %}">
{% endblock %}

{% block image %}
	<img src="{% static 'img/logo_do_site.jpeg' %}" alt="Logo do Site 'Me Ajuda, Chef'">
{% endblock %}

{% block content %}
	<div id="body1">
		<div class="topnav">
			<a href="{% url 'home' %}">Home</a>
			<a href="{% url 'search' %}">Pesquisar</a>
			<a href="{% url 'receitas' %}">Receitas</a>
			<a href="{% url 'produtos' %}">Produtos</a>
			<a href="{% url 'minhas-receitas' %}">Minhas Receitas</a>
		</div> 
		<h1 id="h1_3">Bem Vindo, Chef</h1>
		<h6>{{message|random}}</h6>

		<center><button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>

		<div id="id01" class="modal">
  
			<form class="modal-content animate" action="/action_page.php" method="post">
				<div class="imgcontainer">
					<span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
					<img src="{% static 'img/avatar.jpeg' %}" alt="Avatar" class="avatar">
				</div>

				<div class="container">
				<label for="uname"><b><h5>Usuario:</h5></b></label>
				<input type="text" placeholder="Enter Username" name="uname" required>

				<label for="psw"><b><h5>Senha:</h5></b></label>
				<input type="password" placeholder="Enter Password" name="psw" required>
        
				<button type="submit">Login</button>
				<label>
					<input type="checkbox" checked="checked" name="remember"><h5> Lembre-se de mim</h5>
				</label>
				</div>

				<div class="container" style="background-color:#f1f1f1">
					<button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancelar</button>
					<span class="psw"><h6>Esqueceu a </h6><a href="#"><h6>senha?</h6></a></span>
				</div>
			</form>
		</div>

		<script>
			// Get the modal
			var modal = document.getElementById('id01');

			// When the user clicks anywhere outside of the modal, close it
				window.onclick = function(event) {
				if (event.target == modal) {
					modal.style.display = "none";
				}
			}
			
		</script>

	</div>
{% endblock %}

<!-- Olá Tio Rafa, eu usei a maior parte do código desse site: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_login_form_modal -->
