<!DOCTYPE html>
<html lang= "pt-br">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="css/styles.css">
		<link rel="shortcut icon" href="img/icon.jpeg"/>
		<title>MAC - Receitas de Lasanha de Carne Moída</title>
	</head>
	<img src="img/logo_do_site.jpeg" alt="Logo do Site 'Me Ajuda, Chef'">
	
	<body>
		<div class="topnav">
		  <a href="home.html">Home</a>
		  <a href="search.html">Pesquisar</a>
		  <a href="receitas.htm">Receitas</a>
		  <a href="produtos.html">Produtos</a>
		  <a href="minhas-receitas.html">Minhas Receitas</a>
		</div> 
		<header>
			<h1>Receitas de Lasanha de Carne Moída</h1>
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
			
			
			<div class="row">
			  <div class="col-*-*">
				<img class="image" src="img/lasanha.jpeg" class="float-start" alt="Receitas de Lasanha de Carne Moída">
			  </div>
				<h2>Ingredientes:</h2>
			  <div class="col-*-*">
				<ul class="fonte_2">
					<li>500g de massa de lasanha</li>
					<li>500g de carne moída</li>
					<li>2 caixas de creme de leite</li>
					<li>3 colheres de manteiga</li>
					<li>500g de presunto</li>
					<li>500g de mussarela</li>
					<li>sal a gosto</li>
					<li>2 copos de leite</li>
					<li>1 cebola ralada</li>
					<li>3 colheres de óleo</li>
					<li>1 caixa de molho de tomate</li>
					<li>3 dentes de alho amasasados</li>
					<li>1 pacote de queijo ralado</li>>
				</ul>
			  </div>
			</div>
			
			<h2>Modo de Preparo:</h2>
				<p class="fonte_2">
					Primeiro faremos a massa, cozinhe-a segundo as orientações do fabricante, despeje em um refratário com água gelada para não grudar e reserve.<br>
					Depois de ter botado a massa para descansar faremos o molho à bolonhesa: Para faze-lo refogue o alho, a cebola, a carne moida, o molho de tomate e deixe cozinhar por 3 minutos, depois disso reserve<br>
					Você pode fazer um molho branco, que tambem ficará maravilhoso<br>
					Agora derreta a margarina e coloque as 3 colheres de farinha de trigo e mexa, aos poucos derrame o leite e continue mexendo, mexa por 1 minuto e desligue o fogo.<br>
					Montagem:<br>
					Despeje uma parte do molho à bolonhesa em um refratário, a metade da massa, a metade do presunto, a metade da mussarela, todo o molho branco (se quiser) e o restante da massa.
					Repita as camadas até a borda do recipiente. Finalize com o queijo ralado e leve ao forno alto (220° C), preaquecido, por cerca de 20 minutos
					<br>
					
				</p>
		
			<h2>Tempo de Preparo:</h2>
				<p class="fonte_2">1 hora</p>
		</header>
	</body>
</html>
