<!DOCTYPE html>
<html lang= "pt-br">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="css/styles.css">
		<link rel="shortcut icon" href="img/icon.jpeg"/>
		<title>MAC - Criando a Receita</title>
	</head>
	<img src="img/logo_do_site.jpeg" alt="Logo do Site 'Me Ajuda, Chef'">
	
	<body id="body1">
		<div class="topnav">
		  <a href="home.html">Home</a>
		  <a href="search.html">Pesquisar</a>
		  <a href="receitas.htm">Receitas</a>
		  <a href="produtos.html">Produtos</a>
		  <a href="minhas-receitas.html">Minhas Receitas</a>
		</div> 
		<h1>Escrevendo a Receitas:</h1>
		<input type="text" name="Nome da Receita" placeholder="Qual é o Nome da Receita?"/>
		
		<div class="container5">
		<div class="center">
			<button>Foto da Receita</button>
		</div>
		</div>
		
		<h6>Ingredientes:</h6>
		<input type="text" name="Ingrediente" placeholder="Qual ingrediente você vai botar?"/>
		<br>
		<input type="text" name="Ingrediente" placeholder="Qual ingrediente você vai botar?"/>
		<br>
		<input type="text" name="Ingrediente" placeholder="Qual ingrediente você vai botar?"/>
		<br>
		<button>Adicionar Ingrediente</button>
		
		<h6>Modo de Preparo:</h6>
		<textarea rows="10" cols="100" maxlength="1000" placeholder="Escreva aqui como fazer a receita."></textarea>
		<br>
		<button>Salvar Modo de Preparo</button>
		
		<h6>Tempo de Preparo:</h6>
		<input type="text" name="Ingrediente" size="10" placeholder="Quanto tempo demora para preparar?"/>
		<br>
		<button>Confirmar o Tempo</button>
		<center><button>Publicar Receita</button>
		<button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn" style="float: right;">Cancelar</button>

	
	</body>
</html>
