{% extends 'MAC/template.html' %}
{% load static %}

{% block  header %}
		<meta charset="UTF-8">
		<link rel="shortcut icon" href="{% static 'img/icon.jpeg' %}"/>
		<title>MAC - Criando a Receita</title>
{% endblock %}

{% block styles %}
    <link rel='stylesheet' href="{% static 'css/styles.css' %}">
{% endblock %}

{% block image %}
	<img src="{% static 'img/logo_do_site.jpeg' %}" alt="Logo do Site 'Me Ajuda, Chef'">
{% endblock %}

{% block content %}
	<div id="body1">
		<div class="topnav">
			<a href="{% url 'home' %}">Home</a>
			<a href="{% url 'search' %}">Pesquisar</a>
			<a href="{% url 'receitas' %}">Receitas</a>
			<a href="{% url 'produtos' %}">Produtos</a>
			<a href="{% url 'minhas-receitas' %}">Minhas Receitas</a>
		</div> 
		<h1>Escrevendo a Receitas:</h1>
		<input type="text" name="Nome da Receita" placeholder="Qual é o Nome da Receita?"/>
		
		<div class="container5">
		<div class="center">
			<button>Foto da Receita</button>
		</div>
		</div>
		
		<h6>Ingredientes:</h6>
		<input type="text" name="Ingrediente" placeholder="Qual ingrediente você vai botar?"/>
		<br>
		<input type="text" name="Ingrediente" placeholder="Qual ingrediente você vai botar?"/>
		<br>
		<input type="text" name="Ingrediente" placeholder="Qual ingrediente você vai botar?"/>
		<br>
		<button>Adicionar Ingrediente</button>
		
		<h6>Modo de Preparo:</h6>
		<textarea rows="10" cols="100" maxlength="1000" placeholder="Escreva aqui como fazer a receita."></textarea>
		<br>
		<button>Salvar Modo de Preparo</button>
		
		<h6>Tempo de Preparo:</h6>
		<input type="text" name="Ingrediente" size="10" placeholder="Quanto tempo demora para preparar?"/>
		<br>
		<button>Confirmar o Tempo</button>
		<center><button>Publicar Receita</button>
		<button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn" style="float: right;">Cancelar</button>

	
		</div>
{% endblock %}
