<!DOCTYPE html>
<html lang= "pt-br">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="css/styles.css">
		<link rel="shortcut icon" href="img/icon.jpeg"/>
		<title>Me Ajuda, Chef</title>
	</head>
	<img src="img/logo_do_site.jpeg" alt="Logo do Site 'Me Ajuda, Chef'">
	
	<body>
		<div class="topnav">
		  <a href="home.html">Home</a>
		  <a href="search.html">Pesquisar</a>
		  <a href="receitas.htm">Receitas</a>
		  <a href="produtos.html">Produtos</a>
		  <a href="minhas-receitas.html">Minhas Receitas</a>
		</div> 
		<header>
			<h1>Receitas:</h1>
		</header>
		
		<table>
			<tr>
				<td>
					<img class="image" src="img/pao.jpeg" alt="Pão para um Café da Manhã Delicioso">
					<nav>
						<a href="pao.htm" class="fonte_2">Receita desse delicioso pão</a>
					</nav>
				</td>
			</tr>

			<tr>
				<td>
					<img class="image" src="img/fricasse_vegetariano.jpeg" alt="Fricassê Vegetariano">
					<nav>
						<a href="fricasse_vegetariano.htm" class="fonte_2">Receita desse delicioso Fricassê Vegetariano</a>
					</nav>
				</td>
			</tr>
			
			<tr>
				<td>
					<img class="image" src="img/lasanha.jpeg" alt="Lasanha de Carne Moída">
					<nav>
						<a href= "lasanha_de_carne_moida.htm" target= "_blank" class="fonte_2">Lasanha de Carne Moída</a>
					</nav>
				</td>
			</tr>
			
			<tr>
				<td>
					<img class="image" src="img/cappuccino.jpeg" alt="Cappuccino Nutren Senior, Bebida com canela em pau, anis-estrelado, gengibre, NESCAFÉ Original e NUTREN Senior pó ">
					<nav>
						<a href= "capuccino.html" target= "_blank" class="fonte_2">Cappuccino Nutren Senior</a>
					</nav>
				</td>
			</tr>
		</table>
	</body>
</html>
